<a href="https://colab.research.google.com/github/iamsatyapati/100-data-science-projects/blob/master/Regression_and_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Here 4 notebooks are present demonestrating 2 regression and 2 classification problems. There are 5 basic steps while approaching a ML problem. These are:

1. Importing the necessary libraries like numpy, pandas, matplotlib, and sklearn modules.
2. Data acquisition: Loading the dataset to our working environment like jupyter notebook.
3. Data transformation: Like encoding and feature scaling or feature enginnering. We manipulate the dataset and changes something.
4. Splitting to train and test set.
5. Applying ML algorithms to create a model and measuring it's performance.

In [ ]:
# as in a notebook we keep all the 4 problem statement, so importing once will do the job

# basic libraries for data acqusition and plotting
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# modules for data transformation like encoding and feature scaling
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

# modules for train test split
from sklearn.model_selection import train_test_split

# modules for classification
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier

# modules for regression
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor

# modules for measuring accuracy of classfication
from sklearn.metrics import accuracy_score, f1_score, roc_auc_score

# modules for measuring regression accuracy
from sklearn.metrics import r2_score, mean_squared_error

# **Classification 1: Diabetes prediction**

In [ ]:
 # data acquisition: importing dataset from github
 diabetes = pd.read_csv("https://raw.githubusercontent.com/SridharCR/Diabetes_Prediction/master/Data/diabetes.csv")

In [ ]:
# checking for null values and checking data type
diabetes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [ ]:
# checking for first 5 rows
diabetes.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [ ]:
# now splitting to X,y and then train, test
X = diabetes.drop('Outcome',axis=1)
y = diabetes['Outcome']

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

Generally applying a algorithms and measuring it's performace consists of following steps:

1. Create an object of the algorithm class.
2. Call fit method on that object with train data. Here your model is created by learning.
3. Predict on the test data by calling predict method on that object.
4. Measure with

In [ ]:
# instaiting logistic regression
clf = LogisticRegression(solver='saga')
# fit the training data
clf.fit(X_train,y_train)
# predicting test set
y_pred = clf.predict(X_test)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_sag.py:330: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)

In [ ]:
print(clf.coef_)
print(clf)

[[ 0.02113721  0.01271414 -0.03218916  0.00544022  0.00071132  0.00043518
   0.00019609 -0.00210313]]
LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='saga', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
# measuring performance
print("accuracy ",accuracy_score(y_test, y_pred))
print("roc_auc score ", roc_auc_score(y_test,y_pred))
print("f1 score ", f1_score(y_test,y_pred))

accuracy  0.6818181818181818
roc_auc score  0.5892857142857143
f1 score  0.36363636363636365

**Classification 2**: Iris dataset

In [ ]:
iris = pd.read_csv("https://raw.githubusercontent.com/venky14/Machine-Learning-with-Iris-Dataset/master/Iris.csv")

In [ ]:
# checking info
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [ ]:
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
# label encoder to encode target variable
le = LabelEncoder()
y = le.fit_transform(iris['Species'])
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [ ]:
X = iris.drop('Species',axis=1)

# splitting to train and test
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

In [ ]:
# initiating algorithm
svm = SVC()
svm.fit(X_train,y_train)
y_pred = svm.predict(X_test)

In [ ]:
svm

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [ ]:
accuracy_score(y_test,y_pred)

1.0

# **Regression**

In [ ]:
house = pd.read_csv("https://raw.githubusercontent.com/ageron/handson-ml/master/datasets/housing/housing.csv")

In [ ]:
house.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [ ]:
house.head()

   longitude  latitude  ...  median_house_value  ocean_proximity
0    -122.23     37.88  ...            452600.0         NEAR BAY
1    -122.22     37.86  ...            358500.0         NEAR BAY
2    -122.24     37.85  ...            352100.0         NEAR BAY
3    -122.25     37.85  ...            341300.0         NEAR BAY
4    -122.25     37.85  ...            342200.0         NEAR BAY

[5 rows x 10 columns]

In [ ]:
house['ocean_proximity'].value_counts()

<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: ocean_proximity, dtype: int64

In [ ]:
X = house.drop('median_house_value',axis=1)

In [ ]:
y = house['median_house_value']

In [ ]:
X.isna().sum()
X = X.fillna(0)

In [ ]:
ohe = OneHotEncoder()
X2 = ohe.fit_transform(X[['ocean_proximity']])
X2.shape

(20640, 5)

In [ ]:
X.shape

(20640, 9)

In [ ]:
X2 =pd.DataFrame(X2.toarray())

In [ ]:
X = pd.concat([X,X2],axis=1)

In [ ]:
X.head()

   longitude  latitude  housing_median_age  total_rooms  ...    1    2    3    4
0    -122.23     37.88                41.0        880.0  ...  0.0  0.0  1.0  0.0
1    -122.22     37.86                21.0       7099.0  ...  0.0  0.0  1.0  0.0
2    -122.24     37.85                52.0       1467.0  ...  0.0  0.0  1.0  0.0
3    -122.25     37.85                52.0       1274.0  ...  0.0  0.0  1.0  0.0
4    -122.25     37.85                52.0       1627.0  ...  0.0  0.0  1.0  0.0

[5 rows x 14 columns]

In [ ]:
X = X.drop('ocean_proximity',axis=1)

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(X,y)

In [ ]:
Reg = LinearRegression()
Reg.fit(X_train,y_train)
y_pred = Reg.predict(X_test)

In [ ]:
print(r2_score(y_test,y_pred))
print(mean_squared_error(y_test,y_pred))

0.6340074492183763
4903692298.355004